.pop-up-create-post-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100%;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.683);
    z-index: 99;
    display: none;

}

.pop-up-c-exit{
    border: none;
    position: fixed;
    right: 0;
    z-index: 99;

}

.create-pop-up-btn-exit{
    background: transparent;
    border: none;
    margin: 1rem;
}

.pop-up-c-post{
    background-color: var(--white);
    border-radius: 1rem;
    width: 600px;
    left: 25%;
    top: 15%;

    

    position: fixed;
}

.create-post-heading{
    border-bottom: var(--border1);
    padding: 0.7rem 1rem;
    text-align: center;
    font-weight: 600;
    color: var(--text-color1);
}

.create-post-form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.form-line{
    margin: 0 0 0.8rem 0;
}

.form-line input {
    padding: 0.5rem;
    margin: 0.2rem 0 0 0;
    width: 100%;
    border: var(--border1);
    outline: black;
    border-radius: 0.2rem;
    font-family: var(--font-main);
    font-size: 1rem;
    
}
.form-line textarea{
    width: 100%;
    border: var(--border1);
    outline: black;
    border-radius: 0.2rem;
    font-family: var(--font-main);
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0.2rem 0 0 0;
}

.create-image-post-btn{
    background-color: var(--text-color2);
    font-family: var(--font-main);
    color: var(--white);
    border: none;
    font-weight: 600;
    border-radius: 0.2rem;
    padding: 0.5rem;
    width: 100%;

} 