
/* LEFT BODY STYLES */
.body-left-side{
    max-width: 470px;

  
}

/* MY DAY SECTION */

.my-day-container{
    max-width: 100%;
    background-color: var(--white);
    border: var(--border1);
    border-radius: 8px;
    padding: 1rem;
    display: flex;


    
    
}
.my-day-person-container{
    background: linear-gradient(45deg, rgb(255, 230,0), rgb(255,0,128) 80%);
    border-radius: 50%;
    width: max-content;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
   
}

.my-day-person-user{
    width: 66px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin: 0 0.25rem;

    
    
}
.my-day-person{
    width: 3.8rem;
    background-color: white;
    padding: 0.5rem;
    border-radius: 50%;
    border: solid var(--white) 2px;
}

.my-day-username{
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: .01em;
    white-space: nowrap;
    color: var(--text-color1);
    padding: 0 0.25rem;
}

/* MAIN POST STYLE */


.individual-post{
    background-color: var(--white);
    border: var(--border1);
    margin-top: 1.5rem;
    border-radius: 8px;
}
.title-header-post{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.left-side-title-header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.poster-image {
    width: 2rem;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-right: 1rem;
}

.poster-message{
    font-weight: 400;
    font-size: 0.875rem;
    color: var(--text-color1);

}

.main-post-image{
    object-fit: contain;
    width: 100%;
}
.poster-name {
    font-size: 0.875rem;
    font-weight: bold;
}

.bottom-part{
    padding: 1rem;
}
.bottom-reaction {
    display: flex;
    justify-content: space-between;
    margin: 0 0 0.5rem 0;
}

.bottom-reaction-left svg{
    margin-right: 0.5rem;
    cursor: pointer;
}


.more-btn{
    background-color: transparent;
    border: none;
    margin: 0 0.5rem;
    color: var(--text-color3);
    font-weight: 400;
    font-size: 0.875rem;
}
.comment-left-side{
    width: 100%;
}
.comment-left-side-text {
    display: flex;
    align-items: center;
    width: 100%;
}

.comment-left-side-text form {
    width: 100%;
}

.comment-right-side{
    display: flex;
    justify-content: flex-start;
}
.left-side-comment-wrapper {
    display: flex;
   
    border-top: var(--border1);
    align-items: center;
    width: 100%;
    padding: 0.3rem 0.8rem 0.2rem 0.8rem;

}

.emoji {
    margin-right: 0.2rem;
}
.comment-section{
    border: none;
    outline: none;
    font-family: var(--font-main);
    font-size: 0.875rem;
    line-height: 18px;
    padding: 0.8rem 0.5rem;
    width: 100%;
   
 
    
   
}


.post-button {
    color: var(--text-color2);
    background: none;
    border: none;
    font-weight: 600;
    font-size: 0.875rem;
}

.title{
    font-weight: 700;
    background: #009FFF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}