
.navigation-wrapper{
    height: 60px;
    border-bottom: var(--border1);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 975px;
    
}
.logo {
   width: 6.1rem;
   cursor: pointer;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-links li {
    list-style-type: none;
    margin: 0 0.5rem;
    cursor: pointer;
}

.profile-pic {
    width: 1.7rem;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 50%;
}