.pop-up-content-wrapper{
    position: absolute;
    top: -85px;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100%;
    width: 100vw;
    background-color: var(--pop-color);
    z-index: 99;
    display: none;

}

.pop-up-post{
    position: fixed;
    background-color: var(--white);
    margin: 1.5rem 5rem;
    display: flex;
    border-radius: 0.25rem;
}

.pop-up-btn-exit{
    background: red;
    border: none;
    position: fixed;
    right: 0;
    z-index: 99;

}

.pop-up-image{
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
}

.pop-up-content-wrapper::-webkit-scrollbar{
    display: none;
}

/* body::-webkit-scrollbar{
    display: none;
} */

.indiv-comment-wrapper{
    display: flex;

}

.right-pop-up-post{
    width: 500px;
    

}

.left-pop-up-post{
    aspect-ratio: 1/1;
    width: 650px;
    display: flex;
    background-color: black;
    justify-content: center;
}

.pop-top{
    padding: 0.5rem;
    display: flex;
    align-items: center;
    border-bottom: var(--border1);

}

.pop-body{
    font-size: 0.875rem;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.comment-details p{
    font-size: 0.75rem;
    color: var(--text-color3);
    margin: 0.5rem 0;
}

.caption-comment-wrapper{
    display: flex;
}