

.profile-wrapper {
    width: 100%;
}

.profile-content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5rem auto 0 auto;
    padding-bottom: 1rem;
    width: 100%;
    max-width: 928px;
    position: relative;
}

.profile-content-container {
    border-bottom: 1px solid #dbdbdb;
    width: 100%;
    display: flex;
    padding: 1rem;
    padding-bottom: 2rem;
}

.right-profile{
    width: 612px;
}
.user-profile-pic{
    width: 10rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 5rem;
}

.username-section-wrapper{
    display: flex;
    align-items: center;
    margin: 1rem 0
}

.username-section-wrapper p{
    font-size: 1.8rem;
    font-weight: 300;
    margin: 0 1rem 0 0;
}

.edit-profile-btn{
    background-color: transparent;
    border: var(--border1);
    border-radius: 0.2rem;
    padding:  0.4rem 0.5rem;
    font-weight: 600;
}

.number{
    font-weight: 600;
}

.username-details{
    margin: 1.5rem 0;
}

.username-true-name{
    margin-bottom: 0.5rem;
    font-weight: 600;
}

/* Edit Profile Modal */

.edit-profile-pop-up{
    background-color: var(--white);
    position: fixed;
    border-radius: 0.25rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
}

.edit-profile-form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.form-grp{
    margin-bottom: 0.8rem;
    display: flex;
    flex-direction: column;
}

.form-grp label {
    padding-bottom: 0.5rem;
}

.form-grp:first-child input{
    color: var(--text-color3);
}

.form-grp:nth-child(2) textarea{
    font-size: 0.875rem;
}

.edit-btn{
    background-color: var(--text-color2);
    padding: 0.5rem;
    font-weight: 600;
    color: var(--white);
    border: none;
    border-radius: 0.2rem;
}

.profile-post-container {
    padding-top: 1.5rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 100%;
}

.profile-post {
    width: 293px;
    height: 293px;
    position: relative;
}

.profile-post img {
    width: 293px;
    height: 293px;
    object-fit: cover;
}

/* .profile-post-banner {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
}

#comment-svg {
    width: 20px;
    height: 20px;
    background-color: red;
    position: fixed;
    top: 0;
    z-index: 4000;
} */