.register-desc {
    padding: 0 2rem 0.5rem 2rem;
    text-align: center;
    font-weight: 700;
    color: var(--text-color3);
}

.conditions{
    color: var(--text-color3);
    font-size: 0.75rem;
    text-align: center;
    margin: 1rem 0;
}

.conditions a{
    text-decoration: none;
    color: var(--text-color3);
    font-weight: 600;
}