.body-right-side{
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin-top: 1rem;
    order: 2;
    position: fixed;
    margin-left: 53rem;
   
    
}

.right-profile-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 1rem 0;
}

.right-right-profile{
    display: flex;
    align-items: center;
}

.right-profile-image{
    width: 3.5rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 1rem;

}

.right-profile-username-wrapper{
    display: flex;
    flex-direction: column;
}

/* SUGGESTIONS */
.suggestions-wrapper{
    display: flex;
    flex-direction: column;
}


.suggestion-person-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.9rem;
}
.suggestions-person-right{
    display: flex;
}

.suggestion-username-wrapper{
    display: flex;
    flex-direction: column;
}
.suggest-image-follow{
    width: 2.0rem;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
    margin-right: 0.5rem;
}

.switch-btn, .suggestion-follow{
    border: none;
    background: none;
    color: #0095F6;
    font-weight: 600;
    font-size: 0.75rem;
    letter-spacing: 0.01rem;
}

.account-name, .suggestion-artist {
    font-size: 0.875rem;
    font-weight: 600;
    margin: 0 0 0.05rem 0;
}


.account-subtitle{
    color: var(--text-color3);
    font-size: 0.875rem;
}

.suggestions-for-you {
    color: var(--text-color3);
    font-weight: 600;
    font-size: 0.875rem;
    margin: 0 0 0.8rem 0;
}

.suggested-for-u{
    color: var(--text-color3);
    font-size: 0.75rem;
   
}

/* Right Side footer */
.right-side-footer p {
    color: var(--text-color4);
    font-size: 0.75rem;
    margin: 1rem 0 0 0;
}

/* Responsive */


@media (max-width: 1000px) { 
    .body-right-side {
        display: none;
    }
    

 }