
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --white: #fff;
    --bg-color: #fafafa;
    --pop-color: rgba(0, 0, 0, 0.856);
    --text-color1: #262626;
    --text-color2: #0095F6;
    --text-color3: #8e8e8e;
    --text-color4: #c7c7c7;
    /* --text-color2: rgba(142,142,142,142,143),1; */
    --border1: 1px solid  #dbdbdb;
    --font-main: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

body{
    background-color: var(--bg-color);
    font-family: var(--font-main);
    position: relative;
}

.main-content-wrapper{
    margin-top: 85px;
    margin-left: -25rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    height: 100%;

    
}

button{
    cursor: pointer;
    font-family: var(--font-main);
}

textarea{
    resize: none;
    font-family: var(--font-main);
}

.swiper-button-next::after, .swiper-button-prev::after {
	font-size: 0.6rem !important;
	background: rgba(255, 255, 255, 0.76);
	padding: 0.4rem 0.5rem !important;
	border-radius: 3rem !important;
	color: black !important;
	font-weight: 800 !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}

.swiper-slide{
    margin: 0 !important;
}

.swiper{
    padding: 0.8rem  !important;
}

/* Responsive */

@media (max-width: 1000px) { 
    .body-right-content-side{
        display: none;
    }

    .main-content-wrapper {
        margin-left: 0;
       
    }

 }