
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --white: #fff;
    --bg-color: #fafafa;
    --text-color1: #262626;
    --text-color2: #0095F6;
    --text-color3: #8e8e8e;
    --text-color4: #c7c7c7;
    /* --text-color2: rgba(142,142,142,142,143),1; */
    --border1: 1px solid  #dbdbdb;
    --font-main: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

body{
    background-color: var(--bg-color);
    font-family: var(--font-main);
    position: relative;
}

.main-content-wrapper{
    margin-top: 85px;
    margin-left: -25rem;
    display: flex;
    justify-content: center;
    height: 100%;
    
}
